ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lavenderblush;
    overflow: hidden;
    top: 0;
    width: 100%;
    border: 3px dotted lightpink;
}

li {
    float: left;
}

li a {
    display: block;

    color: black;

    text-align: center;

    padding: 12px 14px;

    text-decoration: none;
}

li a:hover {
    background: pink;
    font-size: 20px;
    animation: anim 0.5s;
}

@keyframes anim {
    from {background-color: lavenderblush;}

    to {background-color: pink;}
}